<!--
SPDX-FileCopyrightText: 2024 Swiss Confederation

SPDX-License-Identifier: MIT
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dummy Wallet - Credentials</title>
</head>
<body style="background-color: lightslategray;">
    {% include "header.html" %}
    <h1>{{ user_name }}</h1>
    <form method="post" class="input_area">
        <label class="label">Credential Deeplink</label>
        <input type="text" name="deeplink"/>
        <button type="submit">Get new Credential</button>
    </form>
    <form method="post" action="{{ user_name }}/verification" class="input_area">
        <label class="label">Authorization Request</label>
        <input type="text" name="auth_request"/>
        <button type="submit">Authorize</button>
    </form>
    <ul class="creds_list">
        <!-- JWT -->
        {% for cred in jwt_creds %}
        <li class="outer_list"><em>{{ cred['jti'] }}</em>
            {% include "jwt.html" %}
        </li>
        {% endfor %}
        

        <!-- SD-JWT -->
        {% for cred in sd_jwt_creds %}
        <li class="outer_list"><em>{{ cred[0]['jti'] }}</em>
            {% include "sd_jwt.html" %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>