<!--
SPDX-FileCopyrightText: 2024 Swiss Confederation

SPDX-License-Identifier: MIT
-->

<style>
    .creds_list {
        list-style-type: none;
    }

    .outer_list {
        margin: 2em;
        margin-right: 5em;
        padding: 1em;
        background-color: whitesmoke;
        border-radius: 1em;
        font-family: 'Helvetica';
    }

    .secrets {
        background-color: lightgray;
        font-family: 'Helvetica';
    }

    label {
        width:180px;
        clear:left;
        text-align:right;
        padding-right:10px;
    }

    input, label {
        float:left;
    }

    .input_area {
        margin: 2em;
        padding: 1em;
        border-radius: 1em;
        background-color: lemonchiffon;
    }

    .status_ok {
        color: green;
        font-size: 20em;
    }

    .status_nok {
        color: darkred;
        font-size: 20em;
    }
        
</style>